# Python packaging artifacts
*.egg-info/
*.egg
dist/
build/
__pycache__/
*.py[cod]
*$py.class
.eggs/

# Distribution / packaging
.Python
develop-eggs/
downloads/
eggs/
.parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# PyCharm
.idea/

TODO.md